*{
    margin: 0;
    padding: 0;
}
/* background grandient */
body, .nav{
    background: hsla(197, 100%, 63%, 1);
    background: linear-gradient(0deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    background: -webkit-linear-gradient(0deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );
}
main{
    margin: auto;
    max-width: 60vw;
    background-color: rgba(0, 0, 0, 0.244);
    padding: 10px;
    border-radius: 20px;
}
/* barra de navegação do site */
#logo{
    position: relative;
    left: 230px;
    border-radius: 15px;
}
#logo:hover, #logo:active{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.386);
    transform: translateY(-4px);
    transition: 1.5s;
}
.nav{
    display: flex;
    position: relative;
    right: 2vw;
    justify-content: space-between;
    padding: 15px;
    max-height: 40px;
}

#navBurger {
    display:none;
}
#navOpt{
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
}

#navOpt a{
    padding: 9px;
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    color: #48057A ;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}
#navOpt a::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .45s ease-in-out;
}
#navOpt a:hover::after{
    transform: scaleX(1);
}
#navOpt a:active,#navOpt a:hover{
    text-shadow:0 0 8px white;
    transition: .6s;
    transform: translateY(-4px);
}
@media (max-width: 999px) {
    .nav{
        padding: 15px;
    }
    #navBurger{
        display: flex;
    }

    #navOpt{
        display: none;
        position: absolute;
        top: 8vh;
        right: -10px;
        width: 80%;
        height: 92vh;
        background:#23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
    }    

    #navOpt a{
        color:white;
    }
    #logo{
        position: relative;
        left: 30px;
    }
}
/* Estilização Scrool Bar */
::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track{
    background: rgb(229 28 255);
  }
  
  ::-webkit-scrollbar-thumb{
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    border: 2px solid rgb(255, 255, 255);
  }
/* titulo e sub titulo da pagina */
h1{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.356);
    color: rgb(0, 0, 0);
    padding: .8vw;
    text-shadow: 0 0 8px #000000;
    transition: 2s;
    border-top: 2px solid #cecfd8;
    margin-bottom: 2vw;
}

h1:hover,h1:focus{
    text-shadow:0 0 8px white;
    transition: 2s;
    background-color: #0000005a;
}
h2{
    text-align: center;
    color: white;
    text-decoration: underline;
    text-shadow: 0 0 8px black;
    margin-top: 1vw;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 0 0 8px black;
}

/* formatação do conteudo principal */
.counteudo-principal{
    text-align: left;
    max-width: 90%;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
/* formatação do rodapé */
footer{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 19px;
    background-color: #24684e4c;
    border-top: 2px solid #cecfd8;
}

#dropmenu{
    display: none;
}